body {
  background-image: url("/pattern/leaves-pattern.png");
}

.App {
  text-align: center;
}

.productImage {
  object-fit: contain;
  width: 100%;
  height: 250px;
}

.active {
  background-color: #3c4055 !important;
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  z-index: 999;
}

.suggestionsBox {
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
}
.brand-image-container{
  height: 160px;
}
.brand-image {
  background-image: url("/icons/SMImage.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}

@media screen and (min-width: 768px) {
  .productcategoriesContainer{
    margin-top: 0px;
  }
}

tfoot {
  display: table-header-group;
}